@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: rgba(200,200,200,0.5);
}
.main_header{
    border-bottom: 2px black solid;
    box-sizing: border-box;
    display:inline-block;
    padding: 20px 20px;
    height: 75px;
    width: 100%;
    /* z-index: 1; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_header_div1{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    padding-left: 5px ;
}

.header_circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px black solid;
    background: cornflowerblue;
}

.main_header_div2{
    width: 60%;
    height: 100%;
    text-align: right;
    padding-right: 40px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;

}

.main_content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    display: flex;
    margin: 143px 0px;
    flex-wrap: wrap;
    /* position: relative; */
}

img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.main_main_div1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_main_div2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 50px;
}

.intro{
    align-self: flex-start;
    margin-left: 35px;
}

.intro h2 {
    font-size: 65px;
    margin-bottom: 0px;
}

.intro h5{
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 70px;
    text-align:left;
    display: flex;
    align-items: flex-end;
}

.intro p{
    font-size: 25px;
    margin-top: 10px;
}

.main_links{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}

.main_links a {
    display: flex;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border: 1px solid black;
    padding :20px 20px;
    margin: 10px 15px;
    text-align: initial;
    align-items:center;
    justify-content: center;
    vertical-align: middle;
    font-size: 25px;
}

.main_child1{
    text-align: center;
    vertical-align: middle;
    background:rgba(204,133,34,0.8);
    box-shadow: 2px 2px 2px 2px rgba(192,192,192,0.7);
}

.main_child1:hover, .main_child1:active{
    cursor: pointer;
    color:rgb(204,133,34);
    border:1px solid rgb(204,133,34);
    background: white;
}

.main_child2{
    text-align: center;
    vertical-align: middle;
    background:rgba(220,20,6 ,0.8);
    box-shadow: 2px 2px 2px 2px rgba(192,192,192,0.7);
}

.main_child2:hover, .main_child2:active{
    cursor: pointer;
    color:rgb(220,20,6 );
    border:1px solid rgb(220,20,6 );
    background: white;
}

.main_child3{
    text-align: center;
    vertical-align: middle;
    background:rgba(54, 169, 254,0.7);
    box-shadow: 2px 2px 2px 2px rgba(192,192,192,0.5);
}

.main_child3:hover, .main_child3:active{
    cursor: pointer;
    color:rgb(54, 169, 254);
    border:1px solid rgb(54, 169, 254);
    background: white;
}

.main_footer{
    border-top: 2px solid black;
    display: grid;
    grid-template-columns: repeat(4 ,25%);
    grid-template-rows: 90px;
    justify-items: center;
    align-items: center;
}

footer div {
    font-size: 18px;

}

.pop_contact{
    position: fixed;
    left: 40%;
    top: 40%;
    padding: 30px 30px;
    height: auto;
    width: 400px;
    text-align: center;
    z-index: 50;
    border: 1px solid black;
    background: whitesmoke;
    font-size: 30px;
    background: rgb(200,200,200);
    display: none;
}

.pop_contact button {
    /* margin-top: 10px; */
    padding: 5px 5px;
    /* font-weight: bold; */
}

.pop_contact button:hover, .pop_contact button:active{
    cursor: pointer;
}


.body_2_backdrop{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 40;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.6);
}